*		 									{ 	padding: 0;
												margin: 0;
												font-family: 'Open Sans', sans-serif;
												font-size: 16px; }

ul 											{ 	list-style-type: none; }

li 											{	float: left; }

sup 										{ 	font-size: 12px;
												font-weight: normal; }

hr.translucent-white 						{ 	border: none;
												border-bottom: 1px rgba(255,255,255,0.3) solid;
												margin-top: 50px;
												height: 0; }

hr.translucent-black 						{ 	border: none;
												border-bottom: 1px rgba(0,0,0,0.4) solid;
												width: 50px;
												height: 0;
												margin: 0 auto;
												margin-top: 15px;
												margin-bottom: 30px; }

body.homepage								{	background: url(images/header.jpg) no-repeat center center fixed;
												background-size: cover; }

.container 									{ 	width: 100%;
												background-color: #FFF;
												overflow: visible; }

.container:first-child 						{ 	background: none; }

.button 									{ cursor: pointer; }

.button:hover, .button:hover span			{ 	background-color: #CCA74F !important;
												background-image: none !important;
												border-color: #9C7B2E !important; }

.content 									{ 	width: 960px;
												margin: 0 auto;
												overflow: hidden; }

.submenu 									{ 	display: none; padding: 7px; background-color: #2377AF; overflow: auto; width: 215px; position: absolute; top: 20px; border-radius: 4px; z-index: 9999;
}

.submenu a 									{ 	font-family: "Open Sans", sans-serif !important; font-size: 16px !important; color: #333 !important; text-transform: none !important; letter-spacing: 0 !important; background: none !important; border-radius: 0 !important; }

.submenu a:hover							{ 	text-decoration: underline !important; color: #999 !important; }

.submenu li 								{ 	background-color: #FFF; float: left; padding: 15px; border-bottom: 1px #EEE solid; width: 215px; box-sizing: border-box; }

#testimonials 								{ 	overflow: hidden;
												margin-top: 55px; }

#testimonials .content 						{ 	overflow: hidden; }

#wrapper 									{ 	width: 9000px;
												position: relative;
												left: 0; }

.testimonial 								{	padding: 50px;
												font-style: italic;
												color: #FFF;
												font-size: 16px;
												overflow: auto;
												display: table;
												float: left;
												width: 960px;
												box-sizing: border-box; }

.testimonial .author 						{ 	float: left;
												font-style: italic; }

.testimonial .author-name 					{ 	font-size: 12px;
												font-weight: 600;
												margin-top: 10px; }

.testimonial .author-title 					{ 	font-weight: 300;
												font-size: 12px;
												width: 200px; }


.testimonial p 								{ 	line-height: 30px;
												width: 610px;
												display: table-cell;
  												vertical-align: middle;
												min-height: 260px;
												margin-top: 25px;
												font-weight: 300; }

.blue 										{	background-color: #5A77CD; }
.green 										{	background-color: #70C238; }
.teal 										{	background-color: #1b859b; }
.blue 										{	background-color: #5A77CD; }

#header 									{ 	/*min-height: 635px;
												box-shadow: inset 0px -500px 400px -77px rgba(35,21,20,.75)*/ }

#header p 									{ 	font-weight: 700;
												font-size: 42px;
												color: #FFF;
												width: 830px;
												line-height: 54px;
												margin: 0 auto;
												text-align: center; }

#call-to-action-wrapper 					{ 	width: 210px;
												margin: 0 auto;
												position: relative;
												margin-top: 40px; }

#call-to-action 							{	width: 210px;
												height: 46px;
												border-radius: 4px;
												background-color: #579876;
												background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#579876), to(#60a382));
												background-image: -webkit-linear-gradient(to top, #579876, #60a382);
												background-image: -moz-linear-gradient(to top, #579876, #60a382);
												background-image: -o-linear-gradient(to top, #579876, #60a382);
												background-image: linear-gradient(to top, #579876, #60a382);
												/*margin: 0 auto;*/
												text-align: center;
												line-height: 43px;
												color: #FFF;
												font-size: 18px;
												display: inline-block; }

#call-to-action .component1 				{ 	font-size: 18px;
												text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
												position: relative;
												left: -6px;
												top: 1px; }

#call-to-action .component2 				{ 	width: 19px;
												height: 19px;
												border-radius: 9px 10px 10px 9px/9px 9px 10px 10px;
												background-color: #4e8367;
												border: solid 1px #518c74;
												background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#548d70), to(#4a7d61));
												background-image: -webkit-linear-gradient(to top, #548d70, #4a7d61);
												background-image: -moz-linear-gradient(to top, #548d70, #4a7d61);
												background-image: -o-linear-gradient(to top, #548d70, #4a7d61);
												background-image: linear-gradient(to top, #548d70, #4a7d61);
												display: inline-block;
												line-height: 16px;
												position: relative;
												left: 5px;
												top: 1px; }

#call-to-action-areas 						{ 	display: inline-block;
												color: #FFF;
												top: 8px;
												left: 218px;
												position: absolute;
												width: 380px; }

#call-to-action-areas .component3 			{ 	padding: 0 5px;
												font-style: italic;
												font-size: 13px;
												color: #CCC; }

#call-to-action-areas .component4 			{ 	font-style: italic;
												letter-spacing: 1px;
												position: relative;
												top: 2px;
												left: -6px;
												font-size: 19px; }

#nav-bar 									{ 	height: 110px;
												overflow: auto;
												color: #FFF; }

#logo 										{ 	background: url(images/logo.png) left center no-repeat;
												float: left;
												cursor: pointer;
												margin-top: 14px;
												margin-left: 25px;
												width: 400px;
												height: 80px; }

#nav-bar 									{ transition: height .7s; overflow: visible; z-index: 100; }

#nav-menu 									{ 	width: 725px;
												margin-top: 47px;
												transition: margin-top .7s;
												float: right; }

#nav-menu li 								{ 	position: relative; }

#nav-menu li a 								{ 	color: #FFF;
												font-size: 12px;
												font-family: 'Montserrat', sans-serif;
												margin-right: 20px;
												padding: 10px;
												transition: background-color .4s;
												text-transform: uppercase;
												letter-spacing: 2px;
												text-decoration: none; }

/*#nav-menu li a:hover 						{	border-bottom: thin #FFF solid; }
*/
#nav-menu li a.fixed:hover					{	border-bottom: thin #444 solid; }

#nav-menu li a:hover, #nav-menu li a.active 						{	background-color: #2377AF;
												color: #FFF;
												border-radius: 4px; }

#nav-menu li a.active:hover 						{	border-bottom: none; }

#nav-bar.fixed 								{ 	position: fixed;
												top: 0;
												background-color: #FFF;
												width: 100%;
												height: 50px;
												z-index: 100;
												border-bottom: thin #CCC solid;
												transition: height, background-color .4s; }

#nav-bar.fixed a 							{ 	color: #000; }

#nav-bar.fixed a:hover						{ 	border-color: #000 !important;
												padding-bottom: 17px; }

#nav-bar.fixed #nav-menu 					{ 	margin-top: 17px;
												transition: margin-top .5s; }

#nav-bar.fixed #logo						{ 	background: url(images/logo_icon.jpg) center no-repeat;
												float: left;
												margin-top: 0px !important;
												width: 175px;
												height: 50px; }

#features 									{ 	width: 100%;
												padding-top: 90px;
												overflow: auto; }

#features li 								{ 	width: 180px;
												padding: 0 30px;
												text-align: center; }

#features .header 							{ 	font-family: 'Arvo', Georgia, serif;
												font-size: 18px;
												text-transform: uppercase;
												letter-spacing: 1px;
												font-weight: 700; }

#features .description						{ 	color: #5c5c5c;
												line-height: 28px;
												height: 300px; }

#callout1 									{ 	background: url(images/callout-bg1.jpg) bottom center no-repeat; }
#callout2 									{ 	background: url(images/callout-bg2.jpg) bottom center no-repeat; }
#callout3 									{ 	background: url(images/callout-bg3.jpg) bottom center no-repeat; }
#callout4 									{ 	background: url(images/callout-bg4.jpg) bottom center no-repeat; }

#about-blurb 								{ 	text-align: center;
												margin-top: 55px; }

#about-blurb h1								{ 	font-family: 'Montserrat', sans-serif;
												font-size: 30px;
												font-weight: normal;
												color: #161a25;
												margin: 0 auto;
												margin-top: 35px;
												margin-bottom: 50px;
												width: 680px; }

#about-blurb p 								{ 	color: #7a7b7f;
												width: 715px;
												font-size: 18px;
												margin: 0 auto;
												line-height: 40px; }

#about-blurb .author-avatar 				{ 	margin-top: 60px; }

#about-blurb .author-name 					{	font-family: 'Montserrat', sans-serif;
												font-size: 14px;
												text-transform: uppercase;
												margin-top: 20px;
												letter-spacing: 2px;
												color: #464646; }

#about-blurb .author-title 					{	font-family: sans-serif;
												font-size: 12px;
												color: #b2b2b2; }

#footer 									{ 	padding-top: 60px; }

#legal 										{	width: 550px;
												overflow: auto;
												float: left; }

#legal .logo 								{ 	margin-bottom: 0px; }

#legal p 									{ 	width: 350px;
												float: left;
												position: relative;
												left: 60px;
												font-size: 15px;
												line-height: 25px; }

#legal .badge 								{ 	float: right; }

#legal .translucent-black 					{ 	width: 488px;
												position: relative;
												margin: 0;
												margin-top: 50px;
												left: 60px; }

#copyright 									{ 	font-size: 13px;
												position: relative;
												left: 60px;
												display: inline-block;
												line-height: 18px;
												margin-top: 65px;
												margin-bottom: 50px;
												font-weight: bold; }

#copyright span 							{ 	position: relative;
												font-size: 13px;
												left: -13px;
												font-weight: normal; }

#contact 									{	float: right;
												width: 220px;
												margin-top: 48px; }

#contact li 								{ 	float: none;
												margin-bottom: 2px; }


#contact li img 							{ 	position: relative;
												top: 20px;
												left: -30px; }

#contact li p 								{ 	font-weight: 300;
												font-size: 16px;
												position: relative;
												left: 10px;
												color: #555;
												font-family: sans-serif;
												line-height: 20px; }

#typed-cursor{
												opacity: 1;
												font-weight: 100;
												-webkit-animation: blink 0.7s infinite;
												-moz-animation: blink 0.7s infinite;
												-ms-animation: blink 0.7s infinite;
												-o-animation: blink 0.7s infinite;
												animation: blink 0.7s infinite;
}

@-keyframes blink{
												0% { opacity:1; }
												50% { opacity:0; }
												100% { opacity:1; }
}

@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

ul#content_grid 						{	width: 100%;
										padding-top: 90px;
										overflow: auto; }

#content_grid li 				{ 	width: 450px;
										height: 600px;
										float: left;
										margin-right: 60px;
										padding-bottom: 60px;
										margin-bottom: 90px;
										border-bottom: 1px rgba(0,0,0,0.2) solid; }

#content_grid li:nth-child(even)	{ 	margin-right: 0; }

#content_grid li.closer 		{ border: none; margin-bottom: 20px; }

#content_grid li .header 		{ 	font-weight: 800;
										font-size: 30px;
										text-transform: uppercase;
										padding-bottom: 25px; }

#content_grid li img 	 		{ 	padding-bottom: 40px; }

#content_grid li .description	{ font-size: 15px; line-height: 28px; color: #333; }

#content_grid li h6 								{ 	position: relative;
														top: -25px;
														font-size: 15px;
														font-weight: normal; }

#header.inner, #nav-bar.inner						{ background-color: #41a4e6; }
#nav-bar.inner.fixed								{ background-color: #FFF; }
#nav-bar.inner.fixed #logo							{ 	background: url(images/logo_icon.jpg) center no-repeat;
														float: left;
														margin-top: 0px !important;
														width: 175px;
														height: 50px; }
#header.inner p 									{ font-size: 18px; font-weight: normal; display: inline-block; text-align: left; width: 745px; }
#header.inner #call-to-action-wrapper				{ display: inline-block; margin-top: 13px; margin-bottom: 13px; }
#header.inner .button 								{ background-image: linear-gradient(to top, #f2c63a, #f7db53); color: #7c6c30; }
#header.inner .button .component1 					{ text-shadow: 0 1px rgba(255,255,255,.75); }
#header.inner .button .component2 					{ background-image: linear-gradient(to top, #e8c636, #e2bb2c); border: solid 1px #c7ad47; }
#nav-bar.inner #logo 								{ background: url(images/logo-inner.png) left center no-repeat; }
.translucent-white.inner 							{ margin-top: 0; background-color: #41a4e6; }
.header i 											{ font-family: FontAwesome; width: 30px; height: 30px; border-radius: 30px; background-color: #f03636; line-height: 30px; text-align: center; color: #FFF; float: right; }

#content_grid li:nth-child(2) .header i { background-color: #f6a320; }
#content_grid li:nth-child(3) .header i { background-color: #8936f0; }
#content_grid li:nth-child(4) .header i { background-color: #4eb057; }
#content_grid.tall li 					{ height: 700px; }
#content_grid.tall h2 					{ font-size: 25px; }
#content_grid li.tall 					{ height: 700px; }
#content_grid li.tall2 					{ height: 800px; }
#content_grid h2.tall2 					{ min-height: 85px; }
#content_grid h2.tall3 					{ min-height: 125px; }
#content_grid h2.tall4 					{ min-height: 165px; }
#content_grid a 						{ text-decoration: none; color: #1A879C; }
#content_grid a:hover					{ text-decoration: underline; color: #94B6C0; }
#content_grid a:visited 				{ text-decoration: none; color: #589574; }